* {
  font-family: 'Open Sans', sans-serif;
}
button:focus {
    outline: none;
}
header {
  background-color: #404041;
  margin: 0px;
  vertical-align: middle;
}
h1 {
  color: #ED458B;
  font-size: 70px;
  font-weight: 700;
  margin: 0px;
}
span {
  color: #E6E7E8;
  font-weight: 300;
}
body {
  text-align: center;
}
.user-set-random-number {
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}
.user-min {
height: 40px;
font-size: 20px;
margin-top: 20px;
width: 80px;
}
.user-max {
height: 40px;
font-size: 20px;
margin-top: 20px;
width: 80px;
}
.user-input {
  font-size: 40px;
  height: 50px;
  margin-bottom: 25px;
  margin-top: 50px;
  width: 420px;
}
button {
  background-color: #929497;
  border-radius: 500px;
  border-width: 0px;
}
button:hover {
  background-color: #EB008B;
}
button:disabled {
  background-color: #D0D2D3;
}
.guess-button {
  font-size: 40px;
  height: 60px;
  margin: 25px;
  margin-right: 10px;
  width: 200px;
}
.clear-button {
  font-size: 40px;
  height: 60px;
  margin: 25px;
  margin-left: 10px;
  width: 200px;
}
.last-guess {
  color: #EB008B;
  font-size: 200px;
  height: contain;
  margin-bottom: 20px;
  margin-top: 0px;
}
h2 {
  margin: 0px;
}
.reset-button {
  font-size: 30px;
  height: 40px;
  margin-top: 20px;
  width: 420px;
}
